.sidebar-nav
  .well{:style => "width:300px; padding: 8px 0;"}
    %ul.nav.nav-list
      %li.nav-header Admin Menu
      %li
        %a{:href => "index"}
          %i.icon-home
          Dashboard
      %li
        %a{:href => "#"}
          %i.icon-envelope
          Messages
          %span.badge.badge-info 4
      %li
        %a{:href => "#"}
          %i.icon-comment
          Comments
          %span.badge.badge-info 10
      %li.active
        %a{:href => "#"}
          %i.icon-user
          Members
      %li.divider
      %li
        %a{:href => "#"}
          %i.icon-comment
          Settings
      %li
        %a{:href => "#"}
          %i.icon-share
          Logout